<p> Вы выбрали: {{ product.name }}</p>

<form action="{% url 'shoppingList:vote' product.id %}" method="post">
        {% csrf_token %}
        <p>
            <label>Название продута</label><br>
            <input type="text" name="name" value="{{product.name}}" />
        </p>
        <p>
            <label>Магазин</label><br>
            <input type="text" name="shopName" value="{{product.shopName}}" />
        </p>
        <p>
            <label>Стоимость</label><br>
            <input type="number" name="cost" value="{{product.cost}}" />
        </p>
        <p>
            <label>Количество</label><br>
            <input type="number" name="quantity" value="{{product.quantity}}" />
        </p>
        <input type="submit" value="Сохранить" >
    </form>