<hi>Редактирование продукта: {{ product.name }}</hi>
<form action="{% url 'shoppingList:edit' product.id %}" method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="fieldWrapper">
        {{ form.name.errors }}
        <label for="{{ form.subject.id_for_label }}">Name</label>
        {{ form.name }}
    </div>
    <div class="fieldWrapper">
        {{ form.purchase_date.errors }}
        <label for="{{ form.message.id_for_label }}">purchase_date</label>
        {{ form.purchase_date }}
    </div>
    <div class="fieldWrapper">
        {{ form.shopName.errors }}
        <label for="{{ form.sender.id_for_label }}">shopName</label>
        on
        {{ form.shopName }}
    </div>
    <div  class="fieldWrapper">
        {{ form.cost.errors }}
        <label for="{{ form.cc_myself.id_for_label }}">cost</label>
        {{ form.cost }}
    </div>
    <div class="fieldWrapper">
        {{ form.quantity.errors }}
        <label for="{{ form.cc_myself.id_for_label }}">quantity</label>
        {{ form.quantity }}
    </div>
    <input type="submit" value="Сохранить">
</form>

